:root{
    --card-element-header-bakcgorund-color: rgb(215, 213, 213);
    --card-element-content-bakcgorund-color: rgb(235, 224, 224);
}
body{
    /* background-color: rgb(190, 134, 241); */
	background:linear-gradient(to bottom, #599ee4 5%, #0565c5 100%);
    margin: 0;

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
	font-family:Arial;
}
.card-element-wrapper{
    margin-top: 2%;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: var(--card-element-header-bakcgorund-color);
    width: fit-content;
    height: fit-content;

	max-width: 40%;
	/* max-height: 400px; */
	/* scroll-behavior: initial; */

}
.card-element-header{
    background-color: var(--card-element-header-bakcgorund-color);
    align-items: flex-end;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
}
.card-element-header > h2{
    margin: 0;
}
.card-element-content{
    background-color: var(--card-element-content-bakcgorund-color);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 32px;
    gap: 12px;
}
.card-element-content > p {
	max-width: 100%;
	justify-content: center;
}
.card-element-content > textarea {
	width: 100%;
	height: 250px;
	justify-content: center;
	resize: none;
}
.card-element-content > button{
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #2d8bf0 5%, #1e62d0 100%);
	background-color:#2d8bf0;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ebeaea;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    width: 150px;
}
.card-element-content > button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #2d8bf0 100%);
	background-color:#1e62d0;
}
.card-element-content > button:active {
	position:relative;
	top:1px;
}



.option-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.option-form > label{
    text-align: center;
}
.option-form > button{
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #2d8bf0 5%, #1e62d0 100%);
	background-color:#2d8bf0;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ebeaea;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.option-form > button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #2d8bf0 100%);
	background-color:#1e62d0;
}
.option-form > button:active {
	position:relative;
	top:1px;
}  

.button-generic{
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #2d8bf0 5%, #1e62d0 100%);
	background-color:#2d8bf0;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ebeaea;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    width: 150px;
}
.button-generic:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #2d8bf0 100%);
	background-color:#1e62d0;
}
.button-generic:active {
	position:relative;
	top:1px;
}  

table {
	width: 100%; /* Ancho de la tabla al 100% del contenedor */
	border-collapse: collapse; /* Fusiona los bordes de las celdas */
	margin-bottom: 20px; /* Margen inferior para separar de otros elementos */
  }
  
  /* Estilo para las celdas encabezado */
  th {
	background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
	text-align: left; /* Alineación del texto a la izquierda */
	padding: 10px; /* Relleno interno de las celdas */
	border: 1px solid #dddddd; /* Borde de 1 píxel con color gris claro */
  }
  
  /* Estilo para las celdas de datos */
  td {
	padding: 10px; /* Relleno interno de las celdas */
	border: 1px solid #dddddd; /* Borde de 1 píxel con color gris claro */
  }