:root{
    --text-input-bg-color: #EBEBEB;
    --main-backgrounds-colors: #073B4C;
    --div-backgrounds-colors: #118AB2;
    --text-Colors : #023e7d;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;

    text-align: center;
    align-items: center;
    text-align: center;
    align-self: center;
    align-content: center;
    flex: auto;
    flex-direction: column;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-Colors);
    
    background: var(--main-backgrounds-colors);
    padding: 1% 10%;


}
.nada{
    padding: 1% 10%;
}
div{
    text-align: center;
    align-items: center;
    text-align: center;
    align-self: center;
    align-content: center;
    flex: auto;
    flex-direction: row;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--div-backgrounds-colors);
    color: #E9C46A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
    border-radius: 4%;
    padding: 3%;
    color: inherit;

    display: grid;
    grid-template-rows: 
        repeat(
            auto-fit,
            minmax(150px, 1fr)
        );
    gap: 10px;
    max-width: 1000px;
}
.divHeader1{
    width: 75%;
    justify-content: right;
    background-color: #dcdcdc;
}
form{
    align-items: center;
    flex: content;
    flex-direction: column;
}
h1{
    padding: 1%;
    text-align: center;
    align-self: center;

}
input{
    padding: 5px;
    margin: 15px 0px 15px 0px;
    font-size: 16px;
    width: 55%;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: var(--text-input-bg-color);
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 0px rgba(66,66,66,.75);
}
.inputCheckBox{
    cursor: pointer;
    background-color: #fff;
    width: 10px;
    height: 10px;
    margin: 1px;
    /* appearance: none; */
    border: 2px solid #888;
    transition: background-color 0.3s ease-in-out;
}
.checkBoxLabel{
    font-weight: 400;
}
input:focus {
    outline:none;
}
select{
    transition-duration: 0.5s;
    padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #666666;
     border-style: solid;
     border-radius: 0px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 0px rgba(66,66,66,.75);
}
textarea{
    width: 70%;
    max-width: 90%;
    height: 80px;
    background-color:var(--text-input-bg-color);
    cursor: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.1s;
    margin: 2%;
    max-width: inherit;

        padding: 5px;
        font-size: 16px;
        border-width: 1px;
        border-color: #CCCCCC;
        background-color: var(--text-input-bg-color);
        color: #000000;
        border-style: solid;
        border-radius: 0px;
        box-shadow: 0px 0px 5px rgba(66,66,66,.75);
        text-shadow: 0px 0px 0px rgba(66,66,66,.75);

}
Button {
    margin: 1%;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
Button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
Button:active {
	position:relative;
	top:1px;
}
label{
    font-size: 115%;
    font-weight: 500;
    color: inherit;
    margin: 3% 3% 3% 3%;
}